<?xml version="1.0"?>
<launch>

  <!-- define arguments -->
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="sim" default="true"/>
  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
  <arg name="pkg_robot_config" default="$(find cob_default_robot_config)"/>
  <arg name="paused" default="false"/>
  <arg name="initial_config" default=""/>

  <arg name="teleop" default="$(optenv TELEOP !!NO_TELEOP_SET!!)"/>
  <arg name="python_urx" default="$(optenv PYTHONURX !!NO_PYTHON_URX_SET!!)"/>
  <arg name="env-script" default="$(optenv ENV_SCRIPT !!NO_ENV_SCRIPT_SET!!)"/>
  <arg name="pc1" default="$(optenv PC1 !!NO_PC1_SET!!)"/>

  <!-- upload default configuration parameters -->
  <include file="$(find cob_bringup)/robots/$(arg robot).xml" >
    <arg name="robot" value="$(arg robot)" />
    <arg name="sim" value="$(arg sim)"/>
    <arg name="teleop" value="$(arg teleop)"/>
    <arg name="python_urx" value="$(arg python_urx)"/>
    <arg name="env-script" value="$(arg env-script)"/>
    <arg name="pc1" value="$(arg pc1)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1 $(arg initial_config) -wait $(arg robot_env)" respawn="false" output="screen" />

</launch>
